.product {
  @apply px-4 col-start-2 col-end-12 cursor-pointer;
  @apply bg-white divide-y divide-meli-light-gray text-meli-dark-gray;

  &__info {
    @apply col-start-2 col-end-12 grid gap-x-4 my-4;
    grid-template-columns: 180px repeat(9, minmax(0, 1fr));
  }

  &:first-child {
    @apply rounded-t;
  }

  &__image {
    max-width: 180px;
    min-height: 180px;
    border-radius: 4px;
    object-fit: cover;
  }
}
